*{
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1rem;
    line-height: 24px;
    font-style: normal;
    
}
img{
    max-width: 100%;
    height: auto;
}
.wraper{
    /* width: 1440px; */
    width: 100vw;
    height: 100vh;
    background-color: rgb(202, 221, 215);
    
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}