*{
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1rem;
    line-height: 24px;
    font-style: normal;
    
}
img{
    max-width: 100%;
    height: auto;
}
.wraper{
    /* width: 1440px; */
    width: 100vw;
    height: 100vh;
    background-color: rgb(202, 221, 215);
    
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    text-decoration: none;
    padding-right: 59px;
    background: url(./img/arrow-right.svg) no-repeat 90% center;
    transition: 0.6s all;
  }
  .link:hover,
  .link:focus {
    background: url(./img/arrow-right.svg) no-repeat right center;
  }
  .title{
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    width: 100%;
  }
  