.benefits {
  margin-bottom: 131px;
}
.benefits__wrap {
  position: relative;
  max-width: 1162px;
  /* height: 655px; */
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  z-index: 10;
}
.benefit__title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 94px 100px 88px 100px;
  transform: translateY(-100%);
  background-color: #ffffff;
}

.benefit__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  padding: 0 100px;
  margin-bottom: 112px;
}
.benefit__card {
  grid-column: span 1;
  margin-bottom: 112px;
}
.benefit__card-icon {
  max-width: 66px;
  margin-bottom: 37px;
}
.benefit__card_img {
  display: block;
}
.benefit__card_title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}
.benefit__card_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 39px;
}
